*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    padding: 15px;
    color: rgb(246, 0, 0) !important;
}

p{
    text-align: justify;
    color: black;
    padding: 10px;
}